.card-textarea {
  border-radius: 0.5rem;
  height: 22vh;
}

.text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* number of lines to show */
  -webkit-box-orient: vertical;
}

/* effect-shine */
.effect-shine:hover {
  /* color: green; */
  background-color: rgb(243, 81, 81);
  -webkit-mask-image: linear-gradient();
  -webkit-mask-size: 200%;
  animation: shine 2s infinite;
}

@-webkit-keyframes shine {
  from {
    -webkit-mask-position: 150%;
  }

  to {
    -webkit-mask-position: -50%;
  }
}
