.card-textarea {
  border-radius: 0.5rem;
  height: 22vh;
}

.effect-underline:after {
  content: '';
  position: absolute;
  left: 25%;
  display: inline-block;
  height: 1em;
  width: 50%;
  border-bottom: 1px solid;
  margin-top: 1px;
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
}

.effect-underline:hover:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}
/* effect-shine */
.effect-shine:hover {
  /* color: green; */
  background-color: rgb(243, 81, 81);
  -webkit-mask-image: linear-gradient();
  -webkit-mask-size: 200%;
  animation: shine 2s infinite;
}

@-webkit-keyframes shine {
  from {
    -webkit-mask-position: 150%;
  }

  to {
    -webkit-mask-position: -50%;
  }
}
