@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@200;500&family=Orbitron&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Klee+One&family=Roboto+Mono:wght@300&display=swap');

/* font-family: 'Comfortaa', cursive;
font-family: 'Klee One', cursive;
font-family: 'Roboto Mono', monospace; */

* {
  box-sizing: border-box;
  /* letter-spacing: 1px; */
  font-family: 'Comfortaa', serif;
}
body {
  background: #e2fae359 !important;
  min-height: 100vh;
  display: flex;
  /* font-weight: 400; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.nav-items {
  margin: 5px;
}

.container {
  margin-top: 12vh;
  align-items: center;
}
.container h1 {
  text-align: center;
}

.form-group {
  margin: auto;
  max-width: 75%;
  width: 400px;
  padding: 10px;
}

body,
html,
.App,
#root,
.auth-wrapper {
  width: 100vw;
  height: 100vh;
}

.no-decor {
  text-decoration: none;
  color: inherit;
}

.no-decor:hover {
  text-decoration: none;
  color: inherit;
}

.remember-me {
  margin-left: 20px;
  margin-bottom: 0px;
}
.navbar-brand {
  font-family: 'Orbitron' !important;
  font-size: 30px !important;
  margin-left: 10px;
}

.navbar-light {
  background-color: #95e08b;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
}

.auth-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
}

.auth-inner {
  width: 450px;
  margin: auto;
  background: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 40px 55px 45px 55px;
  border-radius: 15px;
  transition: all 0.3s;
}

.auth-wrapper .form-control:focus {
  border-color: #16ff5c;
  box-shadow: none;
}

.auth-wrapper h1 {
  text-align: center;
  margin: 0;
  line-height: 1;
  padding-bottom: 20px;
}

.custom-control-label {
  font-weight: 400;
}

.forgot-password,
.forgot-password a {
  text-align: right;
  font-size: 13px;
  padding-top: 10px;
  color: #7f7d7d;
  margin: 0;
}

.forgot-password a {
  color: #16ff5c;
}

.button-margin {
  margin: 0.2rem;
}
